h1 {
  color: #ffff00;
  font-family: fantasy;
  font-size: 50px;
  text-align: center
}
p {
  color:
}
body {
  background-image: url(blue2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
